//laxxx.js fuer parallax

$body-bg: white;
$body-color: #333;
$dropdown-min-width: 12rem;
$dropdown-bg: white;
$light: white;

$theme-colors: (
    "primary": #aa0049,
    "luisen-rot": #aa0049,
    "luisen-blau": #18aad7,
    "luisen-gelb": #ffcc00,
);

.intro {
    .rich-text {

        p:first-of-type:first-letter {
            color: #aa0049;
            font-size: 300%;
            font-weight: 700;
            font-family: 'Times New Roman', Times, serif;
            line-height: 1;
            float: left;
            padding-right: .125em;
        }

        @-moz-document url-prefix() {
            p:first-of-type:first-letter {
                margin-top: .15em;
            }
        }
    }
}

 
 /* Blockquote main style */
 blockquote {
     position: relative;
     font-family: 'Montserrat', sans-serif;
     font-weight: 800;
     color: #aa0049;
     padding: 30px 0;
     width: 100%;
     max-width: 500px;
     z-index: 1;
     align-self: center;
     border-top: solid 1px;
     border-bottom: solid 1px;
     text-align: center;
     margin: 80px auto !important;
 }
 
 
 /* Blockquote right double quotes */
 blockquote:after {
     position: absolute;
     content: "â€";
     color: #aa0049;
     font-size: 10rem;
     line-height: 0;
     bottom: -43px;
     right: 30px;
 }
 


@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "./bsnav.scss";
//Navbar and Dropdown

// .navbar-nav {
// 	li {
// 		&:hover {
// 			& > ul {
// 				&.dropdown-menu {
// 					display: block;
//                     margin-top: -5px;
//                     left: auto;
//                     right: 0;
//                     width: 230px;
                    
//                     .level2 {
//                         left: -230px;
//                         right: auto;
//                     }
// 				}
                
// 			}
// 		}
// 	}
// }
// .dropdown-submenu {
//     position: relative;
// 	& > .dropdown-menu {
// 		top: -4px;
// 	}
// }


hr {
    margin: 0;

}

hr.luisen-yellow {
    position: absolute;
    top: -48px;
    left: 0;
    border: 4px solid #ffcc00;
    width: 89%;
}
hr.luisen-red {
    position: absolute;
    top: -36px;
    left: 0;
    border: 4px solid #aa0049;
    width: 90%;
}
hr.luisen-blue {
    position: absolute;
    top: -24px;
    left: 0;
    border: 4px solid #18aad7;
    width: 88%;
}
hr.luisen-yellow-footer {
    position: absolute;
    top: -36px;
    left: 0;
    border: 4px solid #ffcc00;
    width: 89%;
}
hr.luisen-red-footer {
    position: absolute;
    top: -24px;
    left: 0;
    border: 4px solid #aa0049;
    width: 90%;
}
hr.luisen-blue-footer {
    position: absolute;
    top: -12px;
    left: 0;
    border: 4px solid #18aad7;
    width: 88%;
}
hr.luisen-yellow-blogpost {
    position: absolute;
    bottom: -37px;
    left: 10%;
    border: 4px solid #ffcc00;
    width: 79%;
}
hr.luisen-red-blogpost {
    position: absolute;
    bottom: -49px;
    left: 10%;
    border: 4px solid #aa0049;
    width: 80%;
}
hr.luisen-blue-blogpost {
    position: absolute;
    bottom: -61px;
    left: 10%;
    border: 4px solid #18aad7;
    width: 78%;
}

.listing-oben {
    position: relative;

    hr.luisen-yellow-blogpost-top {
        position: absolute;
        top: 12px;
        left: 10%;
        border: 4px solid #ffcc00;
        width: 79%;
    }
    hr.luisen-red-blogpost-top {
        position: absolute;
        top: 24px;
        left: 10%;
        border: 4px solid #aa0049;
        width: 80%;
    }
    hr.luisen-blue-blogpost-top {
        position: absolute;
        top: 36px;
        left: 10%;
        border: 4px solid #18aad7;
        width: 78%;
    }
}




.topbar {
    background-color: #333;
    color: #ddd;
    font-size: .7rem;
    .container {
        text-align: center;
        span {
            padding: 5px 0 5px 20px;
        }
    }
}

// .hero {
//     position: relative;
//     background: 
//         linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1) 30%, rgba(255,255,255,0)), 
//         linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1) 10%, rgba(255,255,255,0.1) 55%, rgba(255,255,255,1)),
//         url("img/plastik-im-meer-2019-b.jpg");
//     height: 100vh;
//     background-position: top -15% left;
//     background-repeat: no-repeat;
//     background-size: cover;
// }



.news {
    //background: 
        //linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.6) 50%, rgba(255,255,255,1)),
        //linear-gradient(to right, rgba(255, 204, 0, 0.9), rgba(255, 255, 255, 0.9));
        //url("img/luisen_foto.jpg");
    margin-top: -5%;
    position: relative;
    
}

.begruessung {
    position: relative;
    //background: 
        //linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.6) 50%, rgba(255,255,255,1)),
        //linear-gradient(to right, rgba(170, 0, 74, 0.9), rgba(255, 255, 255, 0.9));
        //url("img/luisen_foto.jpg");
    .container {

        .row {

            .begruessung-image {

                display: flex;

                img {
                    margin: auto;
                }



            }

        }
    }
}
.netzwerk {
    position: relative;
    //background: 
    //linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.6) 50%, rgba(255,255,255,1)),
    //linear-gradient(to right, rgba(24, 170, 215, 0.9), rgba(255, 255, 255, 0.9));
    //url("img/luisen_foto.jpg");
}

.footer {
    position: relative;
    background: #333;
    color: #ddd;
    font-size: .7rem;
}


.banner {
    width: 100%;
    height: auto;
    
}

.alle-artikel {

    .container {

        .card {
            margin-top: 3rem;
            margin-bottom: 5rem;
        }
    }

    .space {
        height: 40px;
    }
}