<!-- <div class="container mt-5">
    <nav class="navbar navbar-expand-sm flex-column flex-sm-row text-nowrap p-0">
        <a class="navbar-brand mx-0 mr-sm-auto" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <div class="navbar-nav flex-row flex-wrap justify-content-center">
            {{ with .Site.Menus.main }}
                {{ $navbar_len := len . }}
                {{ range $i, $nav_item := . }}
                    <a class="nav-item nav-link" href="{{ $nav_item.URL }}">
                        {{ $nav_item.Pre }}{{ $nav_item.Name }}{{ $nav_item.Post }}
                    </a>
                    {{ if ne (add $i 1) $navbar_len }}
                        <span class="nav-item navbar-text mx-1">/</span>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </nav>
</div>
<hr> -->

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> -->
        <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img style="height: 35px" src="logo-menu.svg" alt="luisen-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{ with .Site.Menus.main }}
                {{ $navbar_len := len . }}
                {{ range $i, $nav_item := . }}
                <li class="nav-item">
                    <a class="nav-item nav-link text-center" style="font-size:1.3rem" href="{{ $nav_item.URL }}">
                        {{ $nav_item.Pre }}{{ $nav_item.Name }}{{ $nav_item.Post }}
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </nav>
</div>
<hr>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav> -->